---
import { GithubIcon, YoutubeIcon, InstagramIcon } from "lucide-react";
---

<footer class="border-t mt-4 mb-2 p-4">
    <div class="flex justify-between items-center">
        <span class="uppercase text-xs">All rights reserved @ {new Date().getFullYear()}</span>
        <div class="flex items-center gap-2">
            <a href="https://github.com/aerostack2">
                <GithubIcon className="w-4 h-4 ml-2" />
            </a>
            <a href="https://www.youtube.com/@CVAR-UPM">
                <YoutubeIcon className="w-4 h-4 ml-2" />
            </a>
            <a href="https://www.instagram.com/cvar_upm">
                <InstagramIcon className="w-4 h-4 ml-2" />
            </a>
        </div>
    </div>
</footer>
